extends ../templates/main.pug

//- blocks de <head>
block title
  | Juego Adivinador | Eventbrite 
block metadescription
  meta(name="description" content="Juega a adivinar un número!")
block css
  link(rel="stylesheet", href="../styles/index.scss")

//- blocks de <body>
block content
  main
    section.game
      .jk-container
        h1.title Juego Adivinador | Eventbrite
      


  //- script
  script(src="../js/index.js")