// visibility
@if $visibility == true {
  $m-max: getBreakpoint(m) - em(1px);
  $l-max: getBreakpoint(l) - em(1px);
  @media screen and (max-width:$m-max ){
  .s-hide{ display: none !important;}
  }
  @media screen and (min-width:getBreakpoint(m) ) and (max-width:$l-max ){
  .m-hide{ display: none !important;}
  }
  @media screen and (min-width:getBreakpoint(l) ){
  .l-hide{ display: none !important;}
  }
  // @media screen and (min-width:getBreakpoint(xl) ){
  // .xl-hide{ display: none; }
  // }
  .hide{
    display: none;
  }
}
